Repository chervyakovru/audit-map: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{md,json}": ["prettier --write", "git add"]
}

remove exif-js
  package.json
  yarn.lock
Due: prettier --write

change extension stylelintrc
  .stylelintrc
  .stylelintrc.json
Due: prettier --write

add rule to eslint
  .eslintrc
Due: none

remove violations reducer
  src/Violations/reducer.js
  src/store.js
Due: prettier --write, eslint --fix

move Header component
  src/Dashboard/Header.js
  src/Dashboard/index.js
  src/Header.js
Due: prettier --write, eslint --fix

add Violations component
  src/App.js
  src/Consts.js
  src/Violations/Search.js
  src/Violations/Violation/Textarea.js
  src/Violations/Violation/Violation.module.css
  src/Violations/Violation/index.js
  src/Violations/Violations.module.css
  src/Violations/index.js
Due: prettier --write, stylelint --fix, eslint --fix

add ViolationsList component
  src/Violations/index.js
  src/ViolationsList/Search.js
  src/ViolationsList/Violation/Textarea.js
  src/ViolationsList/Violation/Violation.module.css
  src/ViolationsList/Violation/index.js
  src/ViolationsList/Violations.module.css
  src/ViolationsList/index.js
  src/ViolationsList/utils.js
Due: prettier --write, stylelint --fix, eslint --fix

move fetching logic from List component
  src/Violations/index.js
  src/ViolationsList/Violation/Violation.module.css
  src/ViolationsList/Violation/index.js
  src/ViolationsList/ViolationsList.module.css
  src/ViolationsList/index.js
  src/ViolationsList/utils.js
Due: prettier --write, stylelint --fix, eslint --fix

add violation download button
  src/Violations/ViolationsDownloadButton.js
  src/Violations/index.js
Due: prettier --write, eslint --fix

add displaying all violations
  src/Header.js
  src/Violations/index.js
  src/ViolationsList/index.js
Due: prettier --write, eslint --fix

fix layouts
  src/Violations/index.js
  src/ViolationsList/index.js
Due: prettier --write, eslint --fix

fix dependecies
  package.json
  yarn.lock
Due: prettier --write

add throttling
  src/ViolationsList/index.js
Due: prettier --write, eslint --fix

move search to Header
  src/Header.js
  src/Violations/Search.js
  src/Violations/index.js
Due: prettier --write, eslint --fix

add custom scroll
  package.json
  public/index.html
  src/Violations/index.js
  src/ViolationsList/index.js
  yarn.lock
Due: prettier --write, eslint --fix

add context
  src/App.js
  src/CustomContextMenu/CustomContextMenu.module.css
  src/CustomContextMenu/index.js
  src/Violations/index.js
  src/ViolationsList/index.js
  src/ViolationsWithContext.js
Due: prettier --write, stylelint --fix, eslint --fix

add customContextMenu
  src/CustomContextMenu/index.js
  src/CustomContextMenuContext.js
  src/Violations/index.js
  src/ViolationsList/Violation/index.js
  src/ViolationsList/index.js
  src/ViolationsWithContext.js
Due: prettier --write, eslint --fix

pretttify context menu
  src/CustomContextMenu/CustomContextMenu.module.css
  src/CustomContextMenu/index.js
Due: prettier --write, stylelint --fix, eslint --fix

fix paddings
  src/ViolationsList/Violation/Violation.module.css
  src/ViolationsList/Violation/index.js
Due: prettier --write, stylelint --fix, eslint --fix

add transition to background-color on list element in CCMenu
  src/CustomContextMenu/CustomContextMenu.module.css
Due: prettier --write, stylelint --fix

add autohide to Custom scrollbar
  src/ViolationsList/index.js
Due: prettier --write, eslint --fix

move container into scrollbar
  src/Violations/index.js
  src/ViolationsList/index.js
Due: prettier --write, eslint --fix

add save button
  src/ViolationsList/Violation/Violation.module.css
  src/ViolationsList/Violation/index.js
Due: prettier --write, stylelint --fix, eslint --fix

add styles for mobile screens
  src/ViolationsList/Violation/Violation.module.css
  src/ViolationsList/ViolationsList.module.css
  src/ViolationsList/index.js
Due: prettier --write, stylelint --fix, eslint --fix

move header to separate folder
  src/Header/index.js
Due: prettier --write, eslint --fix

add mobile styles
  src/Header/Header.module.css
  src/Header/index.js
  src/ViolationsList/ViolationsList.module.css
  src/ViolationsList/index.js
Due: prettier --write, stylelint --fix, eslint --fix

fix first loading image
  src/Board/UploadFile.js
  src/Layer/index.js
Due: prettier --write, eslint --fix

fix navigation to board without selected layer
  src/Consts.js
  src/Dashboard/Card.js
  src/Dashboard/Dashboard.module.css
  src/Dashboard/index.js
  src/EmptyBoardRedirect.js
  src/Home.js
Due: prettier --write, stylelint --fix, eslint --fix

feat: open board after creating
  src/Dashboard/index.js
Due: prettier --write, eslint --fix

fix output format date
  src/utils.js
Due: prettier --write, eslint --fix

make moreButton always visible
  src/Dashboard/Card.js
  src/Dashboard/Dashboard.module.css
Due: prettier --write, stylelint --fix, eslint --fix

fix: replace index with key
  src/DocInfoButtons/DownloadButton.js
Due: prettier --write, eslint --fix

feat: add nvmrc
  .nvmrc
Due: none

feat: improve export import fs data
  manage-firestore-data/.gitignore
  manage-firestore-data/download-data.js
  manage-firestore-data/downloaded-firestore-data.example.json
  manage-firestore-data/upload-data.js
Due: prettier --write, eslint --fix

feat: update key name
  src/DocInfoButtons/DownloadButton.js
Due: prettier --write, eslint --fix
