Repository chervyakovru/audit-map: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.css": ["prettier --write", "git add"],
  "*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
  "*.{md,json}": ["prettier --write", "git add"]
}

add eslint parser
  .eslintrc
Due: none

add homepage in package
  package.json
Due: prettier --write

add firebase upload script
  upload-script/.gitignore
  upload-script/data.json
  upload-script/package.json
  upload-script/serviceAccountKey.example.json
  upload-script/upload-data.js
  upload-script/yarn.lock
Due: prettier --write, eslint --fix

move map to Map component
  src/App.js
  src/Map/index.js
  src/Map/map.jpg
Due: prettier --write, eslint --fix

remove styled-components, add react-icon
  package.json
  src/App.js
  src/index.css
  yarn.lock
Due: prettier --write, eslint --fix

create util file
  src/utils.js
Due: prettier --write, eslint --fix

add ui buttons
  src/Map/Map.module.css
  src/Map/UndoButton.js
  src/Map/ZoomButtons.js
  src/Map/index.js
Due: prettier --write, eslint --fix

update dots
  src/Map/Map.module.css
  src/Map/index.js
Due: prettier --write, eslint --fix

add pointer cursor on dots
  src/Map/Map.module.css
Due: prettier --write

remove unused code
  src/Menu.js
  src/logo.svg
Due: prettier --write, eslint --fix

add exeptions to eslint rules
  .eslintrc
Due: none

add reducers
  package.json
  src/Map/reducer.js
  src/Modal/reducer.js
  src/store.js
  yarn.lock
Due: prettier --write, eslint --fix

move button to component
  src/Map/Button.js
  src/Map/UndoButton.js
  src/Map/ZoomButtons.js
Due: prettier --write, eslint --fix

move point to component
  src/Map/Point.js
  src/Map/index.js
Due: prettier --write, eslint --fix

add Modal
  src/App.js
  src/Modal/index.js
Due: prettier --write, eslint --fix

fix unsubscribe to doc
  src/Map/ZoomButtons.js
Due: prettier --write, eslint --fix

fix points props
  src/Map/Point.js
  src/Map/index.js
  src/Modal/reducer.js
Due: prettier --write, eslint --fix

add title to modal
  src/Map/reducer.js
  src/Modal/Modal.module.css
  src/Modal/index.js
Due: prettier --write, eslint --fix

add output violations
  src/Map/index.js
  src/Modal/Modal.module.css
  src/Modal/Option.js
  src/Modal/Options.js
  src/Modal/index.js
  src/Modal/reducer.js
  src/Violations/reducer.js
  src/store.js
Due: prettier --write, eslint --fix

fix modal styles on mobile
  src/index.css
Due: prettier --write
